.detailsVideogameImage {
  height: 19rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.detailsVideogame {
  border-radius: 0.5rem;
  display: block;
  text-align: center;
  height: 100%;
  width: 65rem;
  padding: 1rem;
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0 0 1rem #00c8c8;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 2.5rem;
}

.detailsGenresContent span, .detailsPlatformsContent span {
  box-shadow: 0 0 0.5rem #00c8c8;
  border-radius: 0.25rem;
  padding: 0.25rem;
  margin: 0.5rem;
}

.loadingDetails {
  height: 3rem;
  margin: auto;
  margin-top: 10rem;
}