.navBar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 105%;
  height: 5rem;
  background-color: #000000;
  box-shadow: 0 0 1rem #00c8c8;
  color: #ffffff;
}

.navLogo {
  width: 6.5rem;
}

.navLinks{
  display: flex;
  justify-content: center;
  height: 3.8rem;
}

.createVideogameNav {
  margin-right: 5.5rem;
}

.link {
  text-decoration: none;
}

.logo {
  width: 10rem;
  height: 4rem;
  object-fit: cover;
  object-position: center center;
  border-radius: 0.5rem;
}

.favoritesVideogameNav {
  margin: 0 1rem;
}