body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  font-family: 'Jura', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4 {
  font-family: inherit;
}

input, button, textarea {
  font-family: inherit;
}
