.filtersAll {
  margin-top: 7.05rem;
}

.filters {
  display: inline;
  margin: 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropButton {
  padding: 0.25rem;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  margin-right: 1rem;
  background: #000000;
  color: #ffffff;
  box-shadow: 0 0 0.5rem #00c8c8;
  cursor: pointer;
}


.dropdownContent {
  display: none;
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  min-width: 10rem;
  box-shadow: 0 0 0.5rem #00c8c8;
  z-index: 1;
  border-radius: 0.25rem;
}

.dropdownContent button {
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
  display: block;
  padding: 0.25rem;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0.25rem;
}

.dropdownContent button:hover{
  background-color: #202020;
  color: #ffffff;
}

.dropdown:hover .dropdownContent {
  display: block;
  border-radius: 0.25rem;
}

.dropdown:hover .dropButton {
  background-color: #202020;
}

