.videogames {
  width: 100%;
  top: 9rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.loading {
  height: 3rem;
  margin: auto;
  margin-top: 10rem;
}

.searchFilter{
  display: flex;
}