.createVideogame form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
  margin: 160px auto;
  color: rgb(240, 240, 240);
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgb(0, 200, 200);
  background-color: rgb(0, 0, 0);
}

.nameVideogameForm {
  border: none;
  outline: none;
  border-radius: 5px;
  width: 500px;
  margin: auto;
  padding: 5px;
  color: rgb(240, 240, 240);
  box-shadow: 0px 0px 10px rgb(0, 200, 200);
  background-color: rgb(0, 0, 0);
}

.descriptionVideogameForm {
  border: none;
  outline: none;
  border-radius: 5px;
  width: 500px;
  height: 100px;
  margin: auto;
  padding: 5px;
  color: rgb(240, 240, 240);
  box-shadow: 0px 0px 10px rgb(0, 200, 200);
  background-color: rgb(0, 0, 0);
}

.releasedVideogameForm {
  border: none;
  outline: none;
  border-radius: 5px;
  width: 130px;
  margin: auto;
  padding: 5px;
  color: rgb(240, 240, 240);
  box-shadow: 0px 0px 10px rgb(0, 200, 200);
  background-color: rgb(0, 0, 0);
}

.ratingVideogameForm {
  outline: none;
  border: none;
  border-radius: 5px;
  width: 130px;
  margin: auto;
  padding: 5px;
  color: rgb(240, 240, 240);
  box-shadow: 0px 0px 10px rgb(0, 200, 200);
  background-color: rgb(0, 0, 0);
}

.platformsVideogameForm {
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px;
  width: 500px;
  color: rgb(240, 240, 240);
  box-shadow: 0px 0px 10px rgb(0, 200, 200);
}

.genresVideogameForm {
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px;
  width: 500px;
  color: rgb(240, 240, 240);
  box-shadow: 0px 0px 10px rgb(0, 200, 200);
}

.buttonCreateVideogame {
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 30px auto;
  font-size: inherit;
  cursor: pointer;
  padding: 10px;
  color: rgb(240, 240, 240);
  box-shadow: 0px 0px 10px rgb(0, 200, 200);
  background-color: rgb(0, 0, 0);
}

.buttonCreateVideogame:hover {
  background-color: rgb(25, 25, 25);
}

.buttonCreateVideogame:active {
  background-color: rgb(0, 0, 0);
}

.danger {
  color: rgb(220, 0, 0);
}