.pagination {
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.previous button, .paginationLink button, .next button {
  width: 2rem;
  height: 2rem;
  background-color: #000000;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  color: #ffffff;
  box-shadow: 0 0 0.5rem #00c8c8;
  cursor: pointer;
  margin: 0.5rem;
}

.previous:hover button, .paginationLink:hover button, .next:hover button {
  background-color: #202020;
}