.searchForm {
  display: flex;
  align-items: center;
}

.searchBar {
  display: inline-block;
  width: 12rem;
  padding: 0.25rem;
  margin-top: 7rem;
  margin-left: 1.5rem;
  box-shadow: 0 0 0.5rem #00c8c8;
  border-radius: 0.25rem;
}

.searchInput {
  outline: none;
  border: none;
  padding: 0;
  border-radius: 0.25rem;
  background: #000000;
  color: #ffffff;
}

.searchButton {
  outline: none;
  border: none;
  background: #000000;
  color: #ffffff;
  border-left: 0.1rem solid #ffffff;
  cursor: pointer;
}